@import url("https://fonts.googleapis.com/css?family=Comfortaa|Patua+One");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  position: fixed;
  top: 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  height: 70px;
  border: 3px solid black;
  z-index: 1000;
  /* background-color: #222222; */
}

.big-image {
  height: 500px;
  width: 100%;
  position: relative;
  background-size: cover;
  background-position: 50% 50%;
  background-image: url("./images/heropic.jpg");
}

.overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  color: rgb(247, 250, 246);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: rgba(0, 0, 0, 0.65);
}

.overlay h2 {
  color: azure;
}
.header {
  background-color: rgb(9, 9, 9);
}
.pic {
  max-width: 100%;
  height: auto;
}
.nav {
  display: flex;
  border: 3px solid black;
}
ul {
  list-style: none;
}
.ul {
  display: flex;
  border: 3px solid black;
  gap: 33px;
}
.ul a {
  color: rgb(242, 255, 0);
}
.logo {
  border: 3px solid black;
}
section {
  margin-top: 70px;
  width: 100%;
  min-height: 500px;
  /* border: 2px solid black; */
}

h1 {
  font-size: 34px;
}
img {
  width: 300px;
  height: 300px;
  border: 0;
  float: left;
}

.project-box {
  display: flex;
  margin-left: 20px;
  margin-top: 10px;
}
.about-me {
  /* border: 3px solid black; */
  margin-top: 30px;
  margin-left: 30px;
  flex-basis: 400px;
}
.about-container {
  display: flex;
  justify-content: space-around;
  background-color: rgb(255, 255, 255);
  min-height: 450px;
}
.me {
  margin: 0 auto;
  padding: 10px;
  text-align: center;
  padding-top: 50px;
  font-size: 20px;
}
.footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-top: 2px solid grey;
  width: 100%;
  min-height: 150px;
  background-color: aqua;
  /* margin-bottom: 20px; */
}

.projectsH {
  width: 100%;
  margin-top: 10px;
  min-height: 70px;
  text-align: center;
  /* border: 3px solid black; */
}
.projectsH h1 {
  font-size: 50px;
  /* margin-top: 60px; */
}

a {
  text-decoration: none;
  color: inherit;
}

/* flexbox cards*/
/* Import the google web fonts you want to use */

/* Card Based Layout - Base styles */

body {
  background: hsl(0, 0%, 100%);
}

/*--------------------------------------------------------------
  Typography
  --------------------------------------------------------------*/
body,
button,
input,
select,
textarea {
  color: #404040;
  font-family: "Comfortaa", Arial, sans-serif;
  font-size: 18px;
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  clear: both;
  font-family: "Patua One", serif;
  letter-spacing: 2px;
}

h2 {
  font-size: 1rem;
  color: #060606;
}

p {
  margin-bottom: 1.5em;
  color: #898989;
  /* padding: 1.4em; */
}

b,
strong {
  font-weight: bold;
}

img {
  display: block;
  border: 0;
  width: 100%;
  max-height: 275px;
  object-fit: cover;
  border: 3px solid dark;
}

.card {
  background: rgb(255, 255, 255);
  border: 5px solid black;
  margin-bottom: 2em;
}

.card a {
  color: black;
  text-decoration: none;
}

.card a:hover {
  box-shadow: 3px 3px 8px hsl(0, 0%, 80%);
}

.card-content {
  padding: 1.4em;
}

.card-content h2 {
  margin-top: 0;
  margin-bottom: 0.5em;
  font-weight: bold;
}

.card-content p {
  font-size: 80%;
}

.container {
  margin-top: 80px;
  width: 300px;
  height: 300px;
  border: 3px solid rgb(8, 8, 8);
  /* margin: 0 auto; */
}

.pic1 {
  max-width: 300px;
  min-height: 294px;
  /* margin: 0 auto; */
}
.skills {
  display: flex;
  justify-content: space-around;
  width: 100%;
  height: 100px;
  /* border: 2px solid black; */
  flex-wrap: wrap;
}
.skills img {
  width: 85px;
  height: 85px;
  flex: 0 1 calc(22% - 1em);
  object-fit: contain;
}

/* Flexbox stuff */
/*smartphone*/
@media screen and (min-width: 40em) {
  .cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .card {
    flex: 0 1 calc(50% - 1em);
  }
}
/*large screen*/
@media screen and (min-width: 60em) {
  .card {
    flex: 0 1 calc(25% - 1em);
  }
}
